extends ./layout.jade

block Contenido

		section.centrar

				h2 Bienvenido a Programacion Facil

				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum qui magni ab magnam laboriosam excepturi commodi, labore sunt voluptatibus tempora reprehenderit enim ratione. Non, perspiciatis, labore. Quibusdam, beatae. Itaque, blanditiis.

				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium laudantium deleniti harum aut nihil accusamus, quam velit possimus. Harum vero voluptate deleniti provident, mollitia ad animi dolor eveniet illum consectetur.

				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque aliquid, voluptatem culpa iusto sint minima perspiciatis sed, modi ab itaque ut tempora, soluta in. Aut quia repudiandae porro, voluptas cumque?

				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, sequi ab alias voluptates ut. Laboriosam, suscipit neque delectus fugiat maiores ratione ducimus maxime. Quasi ab, numquam doloribus quis molestias tempora!

				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. At eos quidem eligendi aut asperiores mollitia molestias, dolor, voluptate, atque cum cupiditate, impedit excepturi nihil architecto. Impedit atque quos ratione repellendus!

				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, fugit. Dolor praesentium quasi rem, qui, quo, modi quos eveniet cumque ut est quia eligendi vero, magni magnam iste non error.

				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur doloremque expedita quos, nam veniam maxime numquam itaque praesentium tempore, placeat alias a eveniet et earum esse facere sed assumenda minus.