doctype html
html
	head
		title Programacion Facil
		meta(charset="utf-8")
		link(rel="stylesheet" href="stylesheets/body.css")
		link(rel="stylesheet" href="stylesheets/contenido.css")
		link(rel="stylesheet" href="stylesheets/encabezado.css")
		link(rel="shortcut icon" href="images/icono.ico")

	body
		header
			img(src="images/logo1.png" width="240")

			nav
				ul
					li: a(href="/") Articulos
					li: a(href="/") Lenguajes
					li: a(href="/") Practicas
					li: a(href="/") Cursos
					li: a(href="/") Contacto

		block Contenido